<div class="devise_authy">
  <%= form_for(resource, :as => resource_name, :url => [resource_name, :devise_authy], :html => { :method => :put }) do |f| %>
    <legend><%= I18n.t('submit_token_title', {:scope => 'devise'}) %></legend>
    <%= f.hidden_field :authy_id, {:value => @authy_id} %>
    <%= f.label :token %>
    <%= f.text_field :token, :autocomplete => :off, :id => 'authy-token'%>
    <%= link_to '?', '#', :id => 'authy-help' %>
    <%= f.submit I18n.t('submit_token', {:scope => 'devise'}), :class => 'btn' %>
  <% end %>
</div>