%h2= I18n.t('authy_register_title', {:scope => 'devise'})

= verify_authy_form do
  %legend= I18n.t('submit_token_title', {:scope => 'devise'})
  = hidden_field_tag :"#{resource_name}_id", @resource.id
  = label_tag :token
  = text_field_tag :token, "", :autocomplete => :off, :id => 'authy-token'
  %label
    = check_box_tag :remember_device
    %span= I18n.t('remember_device', {:scope => 'devise'})

  / Help Tooltip
  / You need to configure a help message.
  / See documentation: https://github.com/authy/authy-form-helpers#help-tooltip
  / = link_to '?', '#', :id => 'authy-help', :'data-message' => 'a message'

  = authy_request_sms_link
  = submit_tag I18n.t('submit_token', {:scope => 'devise'}), :class => 'btn'

- if @onetouch_uuid
  :javascript
    (function(){
      var onetouchInterval = setInterval(function(){
        var onetouchRequest = new XMLHttpRequest();
        onetouchRequest.addEventListener("load", function(){
          if(this.status != 202) clearInterval(onetouchInterval);
          if(this.status == 200) window.location = JSON.parse(this.responseText).redirect;
        });
        onetouchRequest.open("GET", "<%= polymorphic_path [resource_name, :authy_onetouch_status] %>?onetouch_uuid=<%= @onetouch_uuid %>");
        onetouchRequest.send();
      }, 3000);
    })();
