<h2><%= I18n.t('authy_register_title', {:scope => 'devise_authy'}) %></h2>

<%= form_for(resource, :as => resource_name, :url => [resource_name, :devise_authy], :html => { :method => :post }) do |f| %>
  <%= f.text_field :cellphone, :autocomplete => :off%>
  <%= f.text_field :country_code, :autocomplete => :off%>
  <p><%= f.submit I18n.t('enable_authy', {:scope => 'devise_authy'}) %></p>
<% end %>
