<h2><%= I18n.t('authy_token_title', {:scope => 'devise_authy'}) %></h2>

<%= form_for(resource, :as => resource_name, :url => [resource_name, :devise_authy], :html => { :method => :put }) do |f| %>
  <%= f.hidden_field :authy_id, {:value => @authy_id} %>
  <%= f.text_field :token, :autocomplete => :off%>
  <p><%= f.submit I18n.t('submit_token', {:scope => 'devise_authy'}) %></p>
<% end %>
